<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css"/>
    <style>
        .td_active{
            background-color:purple;
        }

        #my_div{
            top:215px!important;
        }

    </style>
</head>
<body>
<div class="page-header">
    <h1 class="text-center">欢迎来到会议室预定系统<small class="text-info">{{request.user.username}}</small> </h1>
</div>
</body>
</html>